#boxbutton{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.button {
    width: 170px;
    height: 60px;
    font-family: "Fira Code";
    background-color: #F2C94C;
    cursor: pointer;
    box-shadow: 6px 6px 6px black;
}

.button:hover{
        transform:scale(0.9);
}