@import url("/../https://unpkg.com/aos@2.3.1/dist/aos.css");
@import url("/../css/title.css");
@import url("/../css/button.css");
@import url("/../css/footer.css");
@import url("/../css/skills.css");


* {
    box-sizing: border-box;  /* retira as bordas de toda a página.*/
    padding: 0;
    margin:0;
  
}
body{
    background-color: teal;
    font-family: "Fira Code";
    
}

header{
    display: flex;
    flex-direction: unset;
    position: fixed;
    justify-content: space-between;
    background-color: #264653;
    border-bottom: 10px solid #000;
    padding-left: 20px;
    padding-right: 20px;
    padding: 10px 20px;
    width: 100%;
    z-index: 9999;
}


a {
    display: inline-flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a::before {
    content: "";
    display: inline-block;
    margin-right: 10px;
    background-color: #F2C94C;
    width: 10px;
    height: 10px;
}
#menu{
    text-align: right;
}

p {
    height: 60px;
    width: 58px;
    font-size: 26px;
    font-family: "Press Start 2P";
    box-shadow: 2px 2px black;
    color: #F2C94C;
    padding: 19px 10px 10px 3px;
}

span {
    color:#fff;
}
header p:hover {
    transform: scale(0.9);
}

#background-image {
    width: 100vw;
    height: 86vh;
}


#aboutme {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7em;
}

#box {
    display: flex;
    flex-flow: column;
    padding: 40px;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: 184px;
    width: 624px;
    box-shadow: 2px 2px 2px 2px #fff;
}

#box h2 {
    font-family: "Press Start 2P";
    color: #fff;
}

#skills, #my-description {
    background-color: #264653;
    height:55vh;
}

#projectscontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:55vh;
}

#projectscontainer img{
    opacity: 0.3;
}
#projectscontainer :hover{
    opacity: 1;
    transition: 2s;
}
#projectscontainer a::before {
    content: none;
}

#my-descriptioncontainer{
    padding:0em 2em 4em;
}

#contacts{
    height: 65vh;
}

