h1 {
    font-weight: 400;
    font-family: "Press Start 2P", "sans-serif";
    text-shadow: 5px 5px 0 #000;
    color: #F2C94C;
    margin-top: 20px;
}

.titlesection{
    font-size: 2em;
    text-align: center;
    padding: 1em 0 1em;
}